$apple_red: rgb(255,59,48);

$apple_orange: rgb(255,149,0);

$apple_yellow: rgb(255,204,0);

$apple_green: rgb(76,217,100);

$apple_teal: rgb(90,200,250);

$apple_blue: rgb(0,122,255);

$apple_purple: rgb(88,86,214);

$apple_pink: rgb(255,45,85);

$apple_grey_dark: rgb(142,142,147);

$apple_grey_medium: rgb(199,199,204);

$apple_grey_light: rgb(209,209,214);

$apple_grey_lighter: rgb(229,229,234);

$apple_grey_lightest: rgb(239,239,244);
